<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% dt = Datetime.now %>
    <%= "The date is #{dt.strftime('%A')}, #{dt.month} #{dt.day}, #{dt.year}"
  </body>
</html>